<% include partials/header.ejs %>
<div class="container">
        <div class="row space-top">
                <div class="col-md-12">
                    <h2>Nova Serie</h2>
            <form action="/admin/nova-serie" method="POST" enctype='multipart/form-data'>
            
                <label>Nome</label>
                <input class="form-control" name="Mname">
                <br>

                <label>Gênero</label>
                
                <select name="Mgenre" class="form-control">
                    <option value="Drama">Drama</option>
                    <option value="Diverso">Diverso</option>
                    <option value="Ação">Ação</option>
                    <option value="Comédia">Comédia</option>
                    <option value="Terror">Terror</option>
                    <option value="Suspense">Suspense</option>
                    <option value="Animação">Animação</option>
                   
                </select>
                <br>

                
                <label>Tipo</label>
                <select name="Mtype" class="form-control select-Mtype">
                    <option value="1">Filme</option>
                    <option value="2">Serie</option>
                    <option value="3">Documentario</option>
                </select>
                <br>

                <div class="serie"></div>

                <label>Descrição</label>
                <textarea rows="10" class="form-control" name="Mdescription"></textarea>
                <br>

                <label>Imagem URL</label>
                <input class="form-control" name="Simage">
                <br>

                <label>Vídeos</label>
                <input type="file" class="form-control files" name="files" multiple="">

                <br>

                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
    </div>
    <% include partials/footer.ejs %>